@model Shared.CardPaymentDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CardDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" hidden>
                <label asp-for="MerchantId" class="control-label"></label>
                <input asp-for="MerchantId" class="form-control" />

                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />

            </div>


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpiry_Month" class="control-label"></label>
                <input asp-for="CardExpiry_Month" class="form-control" />
                <span asp-validation-for="CardExpiry_Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpiry_Year" class="control-label"></label>
                <input asp-for="CardExpiry_Year" class="form-control" />
                <span asp-validation-for="CardExpiry_Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" readonly />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Pay Now" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>